<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="yahooApiKey" value="dj00aiZpPXdLcGs5a3Z6bXY2QSZzPWNvbnN1bWVyc2VjcmV0Jng9ZGQ-" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>